In [6]:
from optparse import Values
from flask import Flask, render_template, request, redirect, url_for
import pymysql
import main
import mod_sql
import pandas as pd

ImportError: cannot import name 'mod_sql' from 'modules' (/Users/seungyeonkang/opt/anaconda3/lib/python3.9/site-packages/modules.py)

In [ ]:
from asyncio import ThreadedChildWatcher
from crypt import methods
from optparse import Values
from flask import Flask, render_template, request, redirect, url_for
import pymysql
from modules import mod_sql

ImportError: cannot import name 'mod_sql' from 'modules' (/Users/seungyeonkang/opt/anaconda3/lib/python3.9/site-packages/modules.py)

In [ ]:
_db = mod_sql.Database()

NameError: name 'mod_sql' is not defined

In [ ]:
sql = """
        SELECT * FROM sales
    """
result = _db.executeAll(sql)
dt = pd.DataFrame(result)
dt.head()

NameError: name '_db' is not defined

In [ ]:
sql_2 = """
        SELECT 
        Country, 
        AVG(`Units Sold`) AS 'units sold' 
        FROM sales 
        GROUP BY Country
        ORDER BY `Country` DESC
    """
result_2 = _db.executeAll(sql_2)
dt_2 = pd.DataFrame(result_2)
dt_2.head()

sales data
1. 그룹화 국가
2. 출력 -> country, country 갯수를 구하는 dataframe 만들어봅시다
3. country 갯수를 기준으로 내림차순 정렬

In [ ]:
sql_3 = """
            SELECT 
            Country, 
            COUNT(`Country`) AS cnt 
            FROM sales 
            GROUP BY Country
            ORDER BY cnt DESC
        """
result_3 = _db.executeAll(sql_3)
dt_3 = pd.DataFrame(result_3)
dt_3