In [40]:
a= 10
print(a)

10

In [41]:
for i in range(1, 100, 1):
    if i == 10:
        break
    print("%d 번째 반복" %i)

1 번째 반복
2 번째 반복
3 번째 반복
4 번째 반복
5 번째 반복
6 번째 반복
7 번째 반복
8 번째 반복
9 번째 반복

In [42]:
sum = 0 
i = 0

for i in range(1, 100, 1):
    sum += i
    if sum >= 500:
        break

print("합이 500 이상이 되는 범위의 숫자는 %d" %i)

합이 500 이상이 되는 범위의 숫자는 32

In [43]:
sum = 0
for i in range(1, 11, 1):
    if i <=3:
        continue
    print("%d 반복" %i)
    sum += i
print(sum)

4 반복
5 반복
6 반복
7 반복
8 반복
9 반복
10 반복
49

In [44]:
a = (1, "Hello")
b = (3, 3.14)
c = a + b
d = a * 3
e = a[1]
print(a, b)

(1, 'Hello') (3, 3.14)

In [45]:
print(c)

(1, 'Hello', 3, 3.14)

In [46]:
print(d)

(1, 'Hello', 1, 'Hello', 1, 'Hello')

In [47]:
print(e)

Hello

In [48]:
print(a[0])
print(a[1])

1
Hello

In [49]:
a = (10, 20, 30, 40)

print(a[1:3])

(20, 30)

In [50]:
print(a[1:])

(20, 30, 40)

In [51]:
print(a[:3])

(10, 20, 30)

In [52]:
a = [20, 10, 40, 30]
b = [12, 99, 24, 55]

a.sort()
b.reverse()

print(a)
print(b)

[10, 20, 30, 40]
[55, 24, 99, 12]

In [53]:
del a[0]
print(a)

[20, 30, 40]

In [54]:
b.append(22)
print(b)

[55, 24, 99, 12, 22]

In [55]:
print(len(b))

5

In [56]:
a = [[1,2], [3,4], [5,6]]

print(a[1][1])  #--> 4

4

In [57]:
# 반복문을 통해 1,3,5를 출력
# 반복문을 이용하여 새로운 리스트 [1,3,5] 출력

In [58]:
for i in range(0, len(a), 1):
    print(a[i][0])

1
3
5

In [59]:
b = []
for i in range(0, len(a), 1):
    b.insert(i,a[i][0])

print(b)

[1, 3, 5]

In [60]:
a = {"name" : "test", "age" : 20, "phone" : "01012345678"}
print(a)

{'name': 'test', 'age': 20, 'phone': '01012345678'}

In [61]:
print(a["name"])

test

In [62]:
a["area"] = "Seoul"
print(a)

{'name': 'test', 'age': 20, 'phone': '01012345678', 'area': 'Seoul'}

In [63]:
a["age"] = 25
print(a)

{'name': 'test', 'age': 25, 'phone': '01012345678', 'area': 'Seoul'}

list(a.keys())

In [64]:
print(list(a.keys()))

['name', 'age', 'phone', 'area']

In [65]:
print(a.values())

dict_values(['test', 25, '01012345678', 'Seoul'])

In [66]:
print(a.items())

dict_items([('name', 'test'), ('age', 25), ('phone', '01012345678'), ('area', 'Seoul')])

In [67]:
del(a["phone"])

print(a)

{'name': 'test', 'age': 25, 'area': 'Seoul'}

In [68]:
a["phone"] = "01012345678"
print(a)

{'name': 'test', 'age': 25, 'area': 'Seoul', 'phone': '01012345678'}

In [70]:
a = "Hello world"

print(a.upper())

HELLO WORLD

In [71]:
print(a.lower())

hello world

In [72]:
print(a.swapcase())

hELLO WORLD

In [73]:
print(a.title())

Hello World

In [76]:
a = "Hello world"

print(a.replace("l", "a"))

Heaao worad

In [77]:
b = "a,b,c,d"

print(b[4])

c

In [78]:
print(b.split(","))

['a', 'b', 'c', 'd']

In [79]:
c = b.split(",")
print(c[2])

c