In [2]:
import pymysql
import pandas as pd

% mysql -u root -p

In [3]:
_db = pymysql.connect(
    user = 'root',
    passwd = 'kto0812130?',
    host = "localhost",
    db = "ubion"   
)

In [4]:
cursor = _db.cursor(pymysql.cursors.DictCursor)

In [5]:
sql = "SELECT * FROM user_info"

cursor.execute(sql)
result = cursor.fetchall()
print(result)

[{'ID': '1', 'password': '1', 'name': '1', 'phone': '1', 'ads': '1', 'gender': 1, 'age': 1, 'regit_date': '1'}, {'ID': '3241', 'password': '192', 'name': '도우너', 'phone': '010382377484', 'ads': '깐따삐아', 'gender': 1, 'age': 10, 'regit_date': '20200310'}, {'ID': 'test', 'password': '1234', 'name': '고길동', 'phone': '01012345678', 'ads': '서울시 강북구 쌍문동', 'gender': 1, 'age': 45, 'regit_date': '20220310'}, {'ID': 'test3', 'password': '8543', 'name': '마이콜', 'phone': '01048426489', 'ads': '고길동 옆집', 'gender': 1, 'age': 28, 'regit_date': '20220310'}, {'ID': 'test4', 'password': '4521', 'name': '또치', 'phone': '01051247856', 'ads': '동물원', 'gender': 2, 'age': 4, 'regit_date': '20200310'}, {'ID': 'test5', 'password': '5555', 'name': '도우너', 'phone': '01032523532', 'ads': '깐따삐아', 'gender': 1, 'age': 10, 'regit_date': '20220310'}, {'ID': 'ㅅㄷㄴㅅ5', 'password': '5555', 'name': '도우너', 'phone': '01055544443', 'ads': '깐따삐아', 'gender': 1, 'age': 10, 'regit_date': '20220310'}]

result를 데이터프레임으로 만들어봅시다!
변수명 dt로

In [6]:
dt = pd.DataFrame(result)
dt

      ID password name         phone          ads  gender  age regit_date
0      1        1    1             1            1       1    1          1
1   3241      192  도우너  010382377484         깐따삐아       1   10   20200310
2   test     1234  고길동   01012345678  서울시 강북구 쌍문동       1   45   20220310
3  test3     8543  마이콜   01048426489       고길동 옆집       1   28   20220310
4  test4     4521   또치   01051247856          동물원       2    4   20200310
5  test5     5555  도우너   01032523532         깐따삐아       1   10   20220310
6  ㅅㄷㄴㅅ5     5555  도우너   01055544443         깐따삐아       1   10   20220310

In [11]:
sql = "replace into user_info values (%s, %s, %s, %s, %s, %s, %s, %s)"
values = ["test4", "4521", "또치", "01051247856", "동물원", 2, 4, "20200310"]

cursor.execute(sql, values)
_db.commit()

In [12]:
sql = "insert into user_info values (%s, %s, %s, %s, %s, %s, %s, %s)"

X = input("ID값: ")
pw = input("password: ")
name = input("name: ")
phone = input("phone: ")
ads = input("address: ")
gender = int(input("gender: "))
age = int(input("age: "))
regit_date = input("regit_date: ")

input_list = [X, pw, name, phone, ads, gender, age, regit_date]
print(input_list,
type(input_list))

cursor.execute(sql, input_list)
_db.commit()

['test8', '또치치치', '앙앙', '01039281928', '동물원', 1, 30, '20220311'] <class 'list'>

In [13]:
x = int(input("x: "))

type(x)

ValueError: invalid literal for int() with base 10: '4.3'

pip install cryptography

In [14]:
update_sql = """
                UPDATE user_info 
                SET phone = "01012345678"
                WHERE name = "도우너"

"""
cursor.execute(update_sql)
_db.commit()

In [15]:
delete_sql = """
            DELETE FROM user_info
            WHERE ID="1"
            """
cursor.execute(delete_sql)
_db.commit()