In [5]:
import pandas as pd
import numpy as np

In [7]:
_list_2 = []

def func_17(input_a, input_b):
    for i in range(input_a, input_b+1, 1):
        if i % 2 == 0:
            #print(i)
            _list_2.append(i)

def func_18(input_a, input_b):
    for i in range(input_a, input_b+1, 1):
        if i % 2 == 1:
            #print(i)
            _list_2.append(i)

def func_19(input_a, input_b, input_c):
    if input_c == '짝수':
        func_17(input_a, input_b)
    elif input_c == '홀수':
        func_18(input_a, input_b)

#print(func_16(1, 10, '짝수'))
func_19(1,10,"홀수")
print(_list_2)

[1, 3, 5, 7, 9]

In [10]:
#index, column, value 지정 -> pd.DataFrame(value, index='index',column='column')

df_1 = pd.DataFrame('a', index=[1], columns=['A'])
print(df_1)

df_1['B']=["A"]
print(df_1)

   A  B
1  a  A

In [11]:
values = [['test1', 20000], ['test2', 30000], ['test3', 10000]]
columns = ["name", 'pay']

df_2 = pd.DataFrame(values, columns=columns)
df_2

    name    pay
0  test1  20000
1  test2  30000
2  test3  10000

In [12]:
df_2.sort_values('pay')

    name    pay
2  test3  10000
0  test1  20000
1  test2  30000

In [13]:
df_3 = df_2.drop(['name'], axis=1)
df_3

     pay
0  20000
1  30000
2  10000

In [16]:
df_2.to_csv('test.csv', encoding='utf-8')

In [17]:
df_2.to_csv('./pandas/test.csv', encoding='utf-8')